<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <add name="nwind" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=C:\MyProjects\WeightedAverageSample\WeightedAverageSample\nwind.mdb;user id=;password=;" />
</connectionStrings>
</configuration>
